
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  #bgImg{
    width: 100% ; 
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color:  #0ec5bc;
    color: #fff;
    padding: 20px 0;
  }
 
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
  
  header h1 {
    float: left;
  }
  
  nav ul {
    float: right;
    margin-right: 60px;
    margin-top: 80px;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .search {
    background-color: #eee;
    padding: 20px 0;
  }
  
  .search h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search form {
    text-align: center;
  }
  
  .search input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .menu {
    padding: 40px 0;
  }
  
  .menu h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .item {
    width: 300px;
    margin: 0 20px 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .item img {
    width: 100%;
    border-radius: 5px;
  }
  
  .item h3 {
    margin-top: 10px;
  }
  
  .item p {
    margin-top: 10px;
  }
  
  .item span {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  .contain {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }